<div>
    <div class="postheader">
        <!-- header left -->
        <span [class]="post.userClass || 'user'" (click)="addUserTab(post.author)" [innerHTML]="post.author"></span>

        <!-- header right -->
        <div class="headerright">
            <!--<div class="postdate">{{post.date | date : 'MMM d, yyyy h:mma' }}</div>-->
            <div class="postdate">{{post.date}}</div>

            <div class="countdown-wrap" *ngIf="!!post.expirePercent">
                <div class="countdown-value" countdown-timer></div>
            </div>
        </div>
    </div>

    <!-- post content -->
    <div class="postBody postBodyText">
        <span *ngFor="#chunk of post.body.chunks">
            <span *ngIf="!chunk.type" [innerHTML]="chunk"></span>
            <embed-content *ngIf="chunk.type === 'embed'" url="{{chunk.value}}" type="{{chunk.embedType}}"></embed-content>
        </span>
    </div>

    <!-- action bar -->
    <!--<div class="actionbar" ng-if="::post.type !== 'shackmessage'">-->
        <!--<i class="actionItem fa fa-close" title="Collapse post" ng-click="collapse(post)"></i>-->
        <!--<i class="actionItem fa fa-comment" title="Reply to post" ng-click="openReplyBox(post)"></i>-->
        <!--<a target="_blank" ng-href="#/thread/{{::post.threadId}}/{{::post.id}}"-->
                <!--&gt;<i class="actionItem fa fa-bookmark" title="Open in tab"></i></a>-->
        <!--<i class="actionItem fa fa-star" title="Pin to cloud" ng-if="::!post.parentId" ng-click="pinPost(post)"></i>-->
        <!--<a target="_blank" ng-href="http://www.shacknews.com/chatty?id={{::post.id}}#item_{{::post.id}}"-->
                <!--&gt;<i class="actionItem fa fa-external-link" title="View at shacknews.com"></i>-->
        <!--</a>-->
    <!--</div>-->

</div>
