.rootPost {
    background-color: #202224;
    position: relative;
    padding: 0 0 25px 0;
    border: 1px solid black;
}

.postheader {
    background-color: #373a3c;
    padding: 3px 3px 3px 20px;

    .user {
        line-height: 18px;
    }
}

.headerright {
    float: right;
    margin-right: 5px;
}

.postBody {
    color: lightgray;
    font-size: 13px;
    line-height: 16px;
    margin: 5px 22px 0 22px;

    a:link,
    a:visited,
    a:active {
        text-decoration: underline;
        color: #aeae9b;
    }

    a:hover {
        color: #fff;
    }
}

.user {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #f3e7b5;
    font-family: sans-serif;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.user_op {
    color: #6aff94;
}

.user_me {
    color: #6cf;
}

.user_employee {
    color: #9370db;
}

.user_mod {
    color: #d20000;
}

.postdate {
    display: inline;
    text-align: right;
    font-size: 10px;
    color: #888;
    width: 200px;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
}

.countdown-wrap {
    display: inline-block;
    height: 8px;
    width: 48px;
    position: relative;
    margin-top: 3px;
    margin-right: -1px;
    background:
        rgb(221, 221, 221) -webkit-gradient(
            linear,
            0% 0%,
            0% 100%,
            from(rgb(170, 170, 170)),
            color-stop(0.4, rgb(204, 204, 204)),
            color-stop(0.6, rgb(204, 204, 204)),
            to(rgb(238, 238, 238))
    );
}

.countdown-value {
    height: 100%;
    display: block;
    background-image:
        -webkit-gradient(
            linear,
            0 100%,
            100% 0,
            color-stop(0.25, rgba(255, 255, 255, 0.4)),
            color-stop(0.25, transparent),
            color-stop(0.5, transparent),
            color-stop(0.5, rgba(255, 255, 255, 0.4)),
            color-stop(0.75, rgba(255, 255, 255, 0.4)),
            color-stop(0.75, transparent),
            to(transparent)
    );
    -webkit-background-size: 25px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.298039) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 -2px 3px inset;
}

.actionbar {
    position: absolute;
    bottom: 2px;
    left: 6px;

    i {
        padding-right: 9px;
    }
}

.actionItem {
    color: white;
    cursor: pointer;

    &:hover {
        color: #00bff3;
    }
}
