<div>
    <div class="postheader">
        <!-- header left -->
        <span class="user" [ngClass]="post.userClass" (click)="addUserTab(post.author)" [innerHTML]="post.author"></span>

        <div class="tags">
            <template ngFor #tag [ngForOf]="post.lols">
                 <span *ngIf="tag.count > 0" class="tag" [ngClass]="'tag_' + tag.tag"
                       [title]="tag.tag" [innerHTML]="tag.count" [style.width]="getTagWidth(tag.count)">
                 </span>
            </template>
        </div>

        <!-- header right -->
        <div class="headerright">
            <div class="postdate">{{post.date | date : 'MMM d, yyyy h:mma' }}</div>

            <div class="countdown-wrap" *ngIf="!!post.expirePercent">
                <div class="countdown-value" [style.width]="post.expirePercent + '%'"
                     [style.background-color]="post.expireColor"></div>
            </div>
        </div>
    </div>

    <!-- post content -->
    <div class="postBody postBodyText">
        <span *ngFor="#chunk of post.body.chunks">
            <span *ngIf="!chunk.type" [innerHTML]="chunk"></span>
            <embed-content *ngIf="chunk.type === 'embed'" [url]="chunk.value" [type]="chunk.embedType"></embed-content>
        </span>
    </div>

    <!-- action bar -->
    <div class="actionbar">
        <i class="actionItem fa fa-close" title="Collapse post" (click)="collapse()"></i>
        <i class="actionItem fa fa-comment" title="Reply to post" (click)="openReplyBox()"
                *ngIf="isLoggedIn()"></i>
        <a target="_blank" [href]="'#/thread/' + post.threadId + '/' + post.id"
                ><i class="actionItem fa fa-bookmark" title="Open in tab"></i></a>
        <i class="actionItem fa fa-star" title="Pin to cloud"
           *ngIf="isLoggedIn() && !post.parentId" (click)="pinPost()"></i>
        <a target="_blank" [href]="'http://www.shacknews.com/chatty?id=' + post.id + '#item_' + post.id"
                ><i class="actionItem fa fa-external-link" title="View at shacknews.com"></i>
        </a>
    </div>

</div>
