<ul>
    <li ng-repeat="post in posts" ng-style="::getDepthStyle(post, flat)">

        <!--collapsed reply-->
        <div ng-if-event-expr="!post.viewFull" ng-if-event="reply-collapse" ng-if-event-id="post.id" scroll-item>
            <span class="oneline" line-highlight post-category
                  ng-click="expandReply(post)" ng-bind-html="::post.body.oneline | trusted"></span>

            <span class="onelineSeparator">&nbsp;:&nbsp;</span>
            <span ng-class="::post.userClass || 'user'" ng-click="addUserTab(post.author)">{{::post.author}}</span>
        </div>

        <!--expanded reply-->
        <div ng-if-event-expr="post.viewFull" ng-if-event="reply-collapse" ng-if-event-id="post.id">
            <div class="replyPost" ng-class="::post.tagClass" scroll-into-view>
                <post></post>
            </div>

            <replybox ng-if-event-expr="post.replying" ng-if-event="post-reply" ng-if-event-id="post.threadId"
                    class="replybox-comment" post="post"></replybox>
        </div>

    </li>
</ul>
