/* uncollapsed reply post */
.replyPost {
    background-color: #121212;
    border: 1px solid #656565;
    padding: 0 0 25px 0;
    margin-bottom: 2px;
    position: relative;
}

/* tree view stuff */
div.treeview {
    margin-top: 3px;
    margin-left: 10px;
    padding-bottom: 1px;
}
div.treeview ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: static;
}
div.treeview ul {
    margin-left: 5px;
    background: url('../images/commentsul.gif') repeat-y 2px bottom;
}
div.treeview ul li {
    font-size: 13px;
    line-height: 16px;
    padding-left: 13px;
    background: url('../images/commentsbulletlast.gif') no-repeat 2px top;
}
div.treeview ul li:last-child {
    background: #000 url('../images/commentsbulletlast.gif') no-repeat 2px top;
}

/* comment reply stuff */
.oneline:hover {
    color: #fff;
    background-color: #233548;
    cursor: pointer;
}
.oneline9 { color: #777; }
.oneline8 { color: #888; }
.oneline7 { color: #999; }
.oneline6 { color: #aaa; }
.oneline5 { color: #bbb; }
.oneline4 { color: #ccc; }
.oneline3 { color: #ddd; }
.oneline2 { color: #eee; }
.oneline1 { color: #fff; }
.oneline0 { color: #eee; font-weight: bold; }
.onelineSeparator { font-size: 11px; color: #666;}
