.replybox {
    background-color: #141414;
    border: 1px solid #666;
    position: relative;
    padding: 3px 0 25px 0;
}

.replybox-op {
    margin: -1px 1px 3px 1px;
}

.replybox-comment {
    margin: -3px 0 3px 0;
}

.replybox-input {
    position: relative;
    margin: 15px 5px 5px 17px;
    border: 1px solid white;
    color: white;
    width: 50%;
    max-width: 50%;
    min-height: 176px;
    background-color: black;
}

.replybox-submit {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 5px 5px 17px;
}

.replybox-close {
    position: absolute;
    top: 3px;
    left: 5px;
    padding: 0;
}
