<ul>
    <li ng-repeat="post in posts track by $index" ng-class="{ last: $last }">
        <div ng-if="!post.viewFull">
            <span class="oneline" ng-class="post.lineClass || 'oneline9'" ng-click="expandReply(post)" ng-bind-html="::post.oneline | trusted"></span>
            <span class="author">&nbsp;:&nbsp;</span>
            <span ng-class="::post.userClass || 'user'">{{::post.author}}</span>
        </div>

        <div class="replyPost" ng-if="post.viewFull">
            <div class="postnumber"><a href="" title="Permalink"></a></div>
            <div class="reply" ng-if="loggedIn">
                <a title="reply to this comment" href="" ng-click="openReplyBox(post)">Reply</a>
            </div>
            <div class="postBody">
                <span class="author">By: </span>
                <span class="user">{{::post.author}}</span>
                <div ng-bind-html="::post.body | trusted"></div>
            </div>

            <a href="" title="Collapse/Close" class="closepost" ng-click="collapseReply(post)">x</a>
            <div class="postdate">{{::post.date | date : 'MMM d, yyyy h:mma CST' }}</div>
        </div>

        <replybox class="replybox-comment" post="post" ng-if="post.replying"></replybox>

        <comments logged-in="loggedIn" posts="post.posts"></comments>
    </li>
</ul>