/* navbar */
.navbar {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 40px;
    /*margin-top: -40px;*/
    /*padding-top: 40px;*/
    background: #333;
    /*box-shadow: 0 0 100px 0 rgba(255, 255, 255, .25);*/
    width: 100%;
    /*min-width: 1024px !important;*/
    position: absolute;
    top: 0;
    left: 0;
}
.navbar-right {
    float: right;
    margin-right: 10px;
    padding: 8px 0 0 7px;
}
.navbar-filter {
    border-color: black;
    color: white;
    background-color: #555;
    padding: 5px 5px 5px 5px;
    box-sizing: content-box;
}