.rootPost {
    background-color: #202224;
    margin: 25px 0 0 8px;
    border: 0 solid #656565;
    border-top-width: 1px;
    position: relative;
    padding: 3px 0 25px 0;
}
.postBody {
    color: lightgray;
    margin: 0 0 0 22px;
    font-size: 13px;
    line-height: 16px;
}
.postBodyText {
    margin-top: 5px;
}

.collapsed {
    opacity: 0.5;
    border-bottom: 3px double #dedecd;
}

/* links within a body */
div.postBody a:link, div.postBody a:visited, div.postBody a:active, div.postBody a:hover {
    text-decoration: underline;
    color: #aeae9b;
}
div.postBody a:hover {
    color: #fff;
}

/* post author */
.author {
    font-size: 11px;
    color: #666;
}
.rootPost .user {
    font-size: 14px;
    cursor: pointer;
}
.user {
    font-size: 13px;
    font-weight: bold;
    color: #f3e7b5;
    font-family: sans-serif;
}
.newReplies {
    font-weight: bold;
    color: #68f374;
    font-family: sans-serif;
    text-decoration: none;
}

/* post body date */
.postdate {
    text-align: right;
    font-size: 10px;
    color: #666;
    width: 200px;
    right: 0;
    position: absolute;
    bottom: 8px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
}
.expireTimer {
    position: absolute;
    right: 1px;
    bottom: 1px;
    background-color: #575757;
}

/* collapse post 'x' */
a.closepost:link, a.closepost:visited, a.closepost:active, a.closepost:hover {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    bottom: 0;
    left: 0;
    color: #8e8e8e;
    text-decoration: none;
    font-size: 10px;
    z-index: 1;
}
a.closepost:hover {
    color: #fff;
}

/* post perma link */
.postnumber {
    width: 19px;
    height: 16px;
    overflow: hidden;
    float: left;
    margin: 1px 3px 0 0;
}
.postnumber a:link, .postnumber a:visited, .postnumber a:active, .postnumber a:hover {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -5000px;
    overflow: hidden;
    background-image: url('../images/sprite-commentslink.gif');
    margin-left: 3px;
}
.postnumber a:hover {
    background-position: -50px top;
}

/* uncollapse post link */
a.showpost:link, a.showpost:visited, a.showpost:active, a.showpost:hover {
    display: none;
}
a.showpost:link, a.showpost:visited, a.showpost:active, a.showpost:hover {
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 20px;
    bottom: 0;
    left: 0;
    color: #f02e01;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    background: #222;
    font-weight: bold;
}
a.showpost:hover {
    text-decoration: none;
    background-color: #393939;
}
.postInformative {
    border-left: 2px solid #00bff3;
}
.postNws {
    border-left: 2px solid red;
}