div.reply {
    position: absolute;
    right: -1px;
    top: -1px;
    width: 66px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}
div.reply a:link, div.reply a:visited, div.reply a:active, div.reply a:hover {
    background-image: -moz-linear-gradient(top, #37174e, #050A10);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #37174e),color-stop(1, #050A10));
    background-image: -webkit-linear-gradient(#37174e, #050A10);
    background-image: linear-gradient(top, #37174e, #050A10);
    border: 1px solid #56267a;
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: bold;
    text-align: center;
    padding:  2px 1px;
}
div.reply a:hover {
    background-color: #b34fff;
    text-decoration: none;
    text-shadow: 0 0 5px #fff;
    background-image: -moz-linear-gradient(top, #37174e, #b34fff);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #37174e),color-stop(1, #b34fff));
    background-image: -webkit-linear-gradient(#37174e, #b34fff);
    background-image: linear-gradient(top, #37174e, #b34fff);
    border-color:  #b34fff
}