#pane-simple-threads {
    margin-top: 50px;
}

#pane-sidebar {
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 0;
    width: 30%;
    background-color: black;
    overflow-y: scroll;
}

#pane-content {
    position: fixed;
    top: 40px;
    left: 30%;
    bottom: 0;
    right: 0;
    background-color: black;
    overflow-y: scroll;
    padding-right: 5px;
}

#pane-leftnav {
    margin: 5px 5px 0 0;
}

#pane-rightnav {
    margin: 5px;
}

.simplePost {
    margin-bottom: 15px;
}

.splitPost {
    margin-bottom: 5px;
}

.splitPost:hover {
    border: 1px solid lightgray;
}

a.showpost:link,
a.showpost:visited,
a.showpost:active,
a.showpost:hover {
    display: none;
}

a.showpost:link,
a.showpost:visited,
a.showpost:active,
a.showpost:hover {
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 20px;
    bottom: 0;
    left: 0;
    color: #f02e01;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    background: #222;
    font-weight: bold;
}

a.showpost:hover {
    text-decoration: none;
    background-color: #393939;
}

.postInformative {
    border-left: 2px solid #00bff3 !important;
}

.postNws {
    border-left: 2px solid red !important;
}

.postFrontpage {
    border-left: 2px solid mediumpurple !important;
}
