.threads {
    margin-top: 55px;
}

.collapsed {
    opacity: 0.5;
    border-bottom: 3px double #dedecd;
}

.loader {
    color: #fff;
    vertical-align: middle;
}
/* uncollapse post link */
a.showpost:link, a.showpost:visited, a.showpost:active, a.showpost:hover {
    display: none;
}
a.showpost:link, a.showpost:visited, a.showpost:active, a.showpost:hover {
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 20px;
    bottom: 0;
    left: 0;
    color: #f02e01;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    background: #222;
    font-weight: bold;
}
a.showpost:hover {
    text-decoration: none;
    background-color: #393939;
}

.postInformative {
    border-left: 2px solid #00bff3;
}
.postNws {
    border-left: 2px solid red;
}