<div class="threads" keep-scroll>
    <div ng-repeat="post in threads track by post.id" ng-hide="filterSet && !post.visible">
        <div ng-if="post.state !== 'collapsed'" class="rootPost" ng-class="post.tagClass">
            <post></post>
            <div class="postBody postBodyText" ng-bind-html="::post.body | trusted"></div>
            <a href="" title="Collapse/Close" class="closepost" ng-click="collapseThread(post)">x</a>
        </div>
        <div ng-if="post.state === 'collapsed'" class="rootPost collapsed" ng-class="post.tagClass">
            <post></post>
            <div class="postBody" ng-bind-html="::post.oneline | trusted"></div>
            <a href="" title="Show Full Post" class="showpost" ng-click="expandThread(post)">Show Full Post</a>
        </div>
        <div ng-if="post.state !== 'collapsed'" ng-class="{ truncated: post.state === 'truncated'}">
            <replybox class="replybox-op" post="post" ng-if="post.replying"></replybox>

            <div class="threadContainer">
                <p class="threadCapHeader" ng-if="post.state === 'truncated'">
                    <a href="" ng-click="expandThread(post)">
                        &nbsp;Thread Truncated. Click to see all <strong>{{post.replyCount}}</strong> replies.
                    </a>
                </p>

                <div class="treeview">
                    <comments posts="post.posts"></comments>
                </div>
            </div>
        </div>
    </div>
</div>