<div class="threads" keep-scroll>
    <div ng-repeat="post in threads track by post.id" ng-hide="filterSet && !post.visible">

        <!-- collapsed root post -->
        <div ng-if="post.state === 'collapsed'" class="rootPost collapsed" ng-class="post.tagClass">
            <post></post>
            <div class="postBody" ng-bind-html="::post.oneline | trusted"></div>
            <a href="" title="Show Full Post" class="showpost" ng-click="expandThread(post)">Show Full Post</a>
        </div>

        <!-- expanded root post -->
        <div ng-if="post.state !== 'collapsed'">
            <div  class="rootPost" ng-class="post.tagClass">
                <post></post>
                <div class="postBody postBodyText" ng-bind-html="::post.body | trusted"></div>
                <a href="" title="Collapse/Close" class="closepost" ng-click="collapseThread(post)">x</a>
            </div>

            <replybox class="replybox-op" post="post" ng-if="post.replying"></replybox>

            <p class="threadCapHeader" ng-if="post.state === 'truncated'">
                <a href="" ng-click="expandThread(post)">
                    &nbsp;Thread Truncated. Showing 10 most recent replies. Click to see all <strong>{{post.replyCount}}</strong> replies.
                </a>
            </p>

            <div class="treeview" >
                <comments posts="post.posts" flat="false" ng-if="post.state !== 'truncated'"></comments>
                <comments posts="post.recent" flat="true" ng-if="post.state === 'truncated'"></comments>
            </div>
        </div>

    </div>
</div>