<div class="replybox">
    <form ng-submit="submitPost()">
        <i class="actionItem fa fa-times replybox-close" title="Collapse post" ng-click="close()"></i>

        <textarea class="replybox-input" placeholder="Type something interesting..."
                  ng-model="replyBody" required auto-focus></textarea>

        <input type="submit" value="Submit Post" class="button replybox-submit">

        <div class="tagLegend">
            <table>
                <tr ng-repeat="tagGroup in ::tagGroups">
                    <td ng-repeat-start="tag in ::tagGroup">
                        <span class="tagLegendClicky" ng-class="::tag.class" ng-bind="::tag.name" ng-click="addTag(tag)"></span>
                    </td>
                    <td class="tagLegendClicky" ng-repeat-end><span ng-click="addTag(tag)">{{::tag.open + ' ... ' + tag.close}}</span></td>
                </tr>
            </table>
        </div>
    </form>
</div>