<div class="replybox">
    <form ng-submit="submitPost()">
        <textarea class="replybox-input" placeholder="Type something interesting..."
                  ng-model="replyBody" required auto-focus></textarea>

        <div class="tagLegend">
            <h4>Comment Tags</h4>
            <table>
                <tr ng-repeat="tagGroup in ::tagGroups">
                    <td ng-repeat-start="tag in ::tagGroup">
                        <span class="tagLegendClicky" ng-class="::tag.class" ng-bind="::tag.name" ng-click="addTag(tag)"></span>
                    </td>
                    <td class="tagLegendClicky" ng-repeat-end><span ng-click="addTag(tag)">{{::tag.open + ' ... ' + tag.close}}</span></td>
                </tr>
            </table>
        </div>
        <br>
        <input type="submit" value="Submit Post" class="replybox-button">
    </form>
    <a class="closepost" href="" title="Close" ng-click="close()">x</a>
</div>