<span>

    <!-- chatty comment link -->
    <span ng-if="::type === 'comment'">
        <a target="_blank" ng-href="{{::fixUrl('.+?chatty\\?id=(\\d+)(#item_(\\d+))?', '#/thread/$1/$3')}}">{{::url}}</a>
        <a style="text-decoration: none" target="_blank" ng-href="{{::url}}">
            <i class="actionItem fa fa-external-link" title="View at shacknews.com"></i>
        </a>
    </span>

    <!-- images -->
    <span ng-if="::type === 'image'">
        <a target="_blank" ng-href="{{::url}}">{{::url}}</a>
        <a style="text-decoration: none" href="" ng-click="toggleVisibility()">
            <i class="actionItem fa fa-camera-retro" title="View image inline"></i>
        </a>
        <p ng-if="visible">
            <img style="max-width: 75%" ng-src="{{::testFixUrl([
            { test: 'chattypics.com\\/viewer.php\\?file=',
            regex: '(.+?chattypics.com\\/)(viewer.php\\?file=)?(files\\/)?(.+)',
            replace: '$1files/$4'}
            ])}}" ng-click="toggleVisibility()">
        </p>
    </span>

    <!-- youtube -->
    <span ng-if="::type === 'youtube'">
        <a target="_blank" ng-href="{{::url}}">{{::url}}</a>
        <a style="text-decoration: none" href="" ng-click="toggleVisibility()">
            <i class="actionItem fa fa-youtube" title="View video inline"></i>
        </a>
        <p ng-if="visible">
            <iframe ng-src="{{::fixUrl('(.+?)\\.(com|be)(\\/|\\/watch\\?)(.+v=)?([^&]+)(.+)', 'https://www.youtube.com/embed/$5')}}"
                    width="560" height="315"  frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </p>
    </span>

    <!-- vimeo -->
    <span ng-if="::type === 'vimeo'">
        <a target="_blank" ng-href="{{::url}}">{{::url}}</a>
        <a style="text-decoration: none" href="" ng-click="toggleVisibility()">
            <i class="actionItem fa fa-vimeo-square" title="View video inline"></i>
        </a>
        <p ng-if="visible">
            <iframe ng-src="{{::fixUrl('.+vimeo\\.com\\/(\\d+)', 'https://player.vimeo.com/video/$1')}}"
                    width="560" height="315"  frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </p>
    </span>

    <!-- imgur -->
    <span ng-if="::type === 'imgur'">
        <a target="_blank" ng-href="{{::url}}">{{::url}}</a>
        <a style="text-decoration: none" href="" ng-click="toggleVisibility()">
            <i class="actionItem fa fa-camera-retro" title="View image inline"></i>
        </a>
        <p ng-if="visible">
            <iframe ng-src="{{::testFixUrl([
            { test: '\\.gifv$',
            regex: '(.*)',
            replace: '$1#embed'},
            { test: 'imgur.com\/a\/',
            regex: '(.*)',
            replace: '$1\/embed'
            }
            ])}}"
                    width="560" height="315" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </p>
    </span>

    <!-- gfycat -->
    <span ng-if="::type === 'gfycat'">
        <a target="_blank" ng-href="{{::url}}">{{::url}}</a>
        <a style="text-decoration: none" href="" ng-click="toggleVisibility()">
            <i class="actionItem fa fa-camera-retro" title="View gif inline"></i>
        </a>
        <p ng-if="visible">
            <iframe ng-src="{{::fixUrl('(.+)\/(.+)', '$1/ifr/$2')}}"
                    width="560" height="315" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </p>
    </span>

</span>
