<span>

    <!-- images -->
    <span ng-if="::type === 'image'">
        <a target="_blank" ng-href="{{::url}}">{{::url}}</a>
        <a style="text-decoration: none" href="" ng-click="toggleVisibility()">
            <i class="actionItem fa fa-camera-retro"></i>
        </a>
        <p ng-if="visible">
            <img style="max-width: 75%" ng-src="{{::testFixUrl([
            { test: 'chattypics.com\\/viewer.php\\?file=',
            regex: '(.+?chattypics.com\\/)(viewer.php\\?file=)?(files\\/)?(.+)',
            replace: '$1files/$4'}
            ])}}" ng-click="toggleVisibility()">
        </p>
    </span>

    <!-- youtube -->
    <span ng-if="::type === 'youtube'">
        <a target="_blank" ng-href="{{::url}}">{{::url}}</a>
        <a style="text-decoration: none" href="" ng-click="toggleVisibility()">
            <i class="actionItem fa fa-youtube"></i>
        </a>
        <p ng-if="visible">
            <iframe ng-src="{{::fixUrl('(.+)\\/(watch\\?v=)?(.+)', 'https://www.youtube.com/embed/$3')}}"
                    width="560" height="315"  frameborder="0" allowfullscreen></iframe>
        </p>
    </span>

    <!-- gifv -->
    <span ng-if="::type === 'gifv'">
        <a target="_blank" ng-href="{{::url}}">{{::url}}</a>
        <a style="text-decoration: none" href="" ng-click="toggleVisibility()">
            <i class="actionItem fa fa-camera-retro"></i>
        </a>
        <p ng-if="visible">
            <iframe ng-src="{{::fixUrl('(.+)', '$1#embed')}}"
                    width="560" height="315" frameborder="0" allowfullscreen></iframe>
        </p>
    </span>

    <!-- gfycat -->
    <span ng-if="::type === 'gfycat'">
        <a target="_blank" ng-href="{{::url}}">{{::url}}</a>
        <a style="text-decoration: none" href="" ng-click="toggleVisibility()">
            <i class="actionItem fa fa-camera-retro"></i>
        </a>
        <p ng-if="visible">
            <iframe ng-src="{{::fixUrl('(.+)\/(.+)', '$1/ifr/$2')}}"
                    frameborder="0" width="560" height="315" allowfullscreen></iframe>
        </p>
    </span>

</span>
