.threadCapHeader {
    color: #E9E9DE;
    background-color: #181818;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    height: 19px!important;
    line-height: 17px;
    margin: 0 0 -3px 8px;
    text-align: left;
    position: relative;
    top: 0;
    border-top: 1px solid #575757;
    border-bottom: 1px dotted #fff;
    cursor: pointer;
    text-decoration: none;
}
.threadCapHeader:hover {
    color: #fff;
    background-color: #222;
}
.threadCapHeader strong {
    color: #00bff3;
    font-size: 14px;
}
