.toastContainer {
    position: fixed;
    left: auto;
    right: 16px;
    z-index: 999;

    .toast {
        padding: 10px;
        max-width: 200px;
        clear: both;
        float: right;
        display: inline-block;
        margin-bottom: 10px;
        text-align: center;
        color: white;
        border-radius: 5px;
    }

    .toast-info {
        background-color: #233548;
    }

    .toast-warn {
        background-color: darkred;
    }
}
