<span [ngSwitch]="type">

    <!-- chatty comment link -->
    <template ngSwitchCase="comment">
        <a target="_blank" [href]="resource" [innerHTML]="text"></a>
        <a style="text-decoration: none" target="_blank" [href]="url">
            <i class="actionItem fa fa-external-link" title="View at shacknews.com"></i>
        </a>
    </template>

    <!-- images -->
    <template ngSwitchCase="image">
        <a target="_blank" [href]="url" [innerHTML]="text"></a>
        <a style="text-decoration: none" (click)="toggleVisibility()">
            <i class="actionItem fa fa-camera-retro" title="View image inline"></i>
        </a>
        <p *ngIf="visible">
            <img style="max-width: 75%" [src]="resource" (click)="toggleVisibility()">
        </p>
    </template>

    <!-- youtube -->
    <template ngSwitchCase="youtube">
        <a target="_blank" [href]="url" [innerHTML]="text"></a>
        <a style="text-decoration: none" (click)="toggleVisibility()">
            <i class="actionItem fa fa-youtube" title="View video inline"></i>
        </a>
        <p *ngIf="visible">
            <iframe [src]="resource" width="560" height="315"  frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </p>
    </template>

    <!-- vimeo -->
    <template ngSwitchCase="vimeo">
        <a target="_blank" [href]="url" [innerHTML]="text"></a>
        <a style="text-decoration: none" (click)="toggleVisibility()">
            <i class="actionItem fa fa-vimeo-square" title="View video inline"></i>
        </a>
        <p *ngIf="visible">
            <iframe [src]="resource" width="560" height="315"  frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </p>
    </template>

    <!-- gfycat -->
    <template ngSwitchCase="gfycat">
        <a target="_blank" [href]="url" [innerHTML]="text"></a>
        <a style="text-decoration: none" (click)="toggleVisibility()">
            <i class="actionItem fa fa-camera-retro" title="View gif inline"></i>
        </a>
        <p *ngIf="visible">
            <iframe [src]="resource" width="560" height="315" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </p>
    </template>

</span>
