body {
    background-color: black;
    margin: 0;
    padding: 0;
}

a {
    color: #aeae9b;
}

a:hover {
    color: #fff;
}

.postbody a {
    word-break: break-all;
}

.chattyHead{
    text-decoration:none;
    color:#fff;
}

.chattyHead:visited{
    text-decoration:none;
    color:#fff !important;
}

.chattyHead:hover{
    color:#f3e7b5;
}
