<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SPA Chatty</title>

    <link href="bundle.css" rel="stylesheet">
</head>
<body ng-app="chatty">

<div ng-controller="chattyCtrl" ng-cloak class="ng-cloak">
    <div ng-repeat="thread in threads track by thread.threadId">
        <div class="rootPost" ng-class="{ collapsed: thread.collapsed }">
            <div class="postnumber"><a href="" title="Permalink"></a></div>
            <div class="reply" ng-hide="thread.collapsed">
                <a title="reply to this comment" href="">Reply</a>
            </div>
            <div class="postBody">
                <span class="author">By: </span>
                <span class="user">{{::thread.rootPost.author}}</span>
                <div ng-bind-html="::thread.rootPost.body" ng-hide="thread.collapsed"></div>
                <div ng-show="thread.collapsed">{{::thread.rootPost.oneline}}</div>
            </div>

            <a ng-hide="thread.collapsed" href="" title="Collapse/Close" class="closepost" ng-click="thread.collapsed = true">x</a>
            <a ng-show="thread.collapsed" href="" title="Show Full Post" class="showpost" ng-click="thread.collapsed = false">Show Full Post</a>
            <div class="postdate">{{::thread.rootPost.date | date : 'MMM d, yyyy h:mma CST' }}</div>
        </div>

        <div ng-hide="thread.collapsed" ng-repeat="post in thread.posts track by post.id">
            <div class="replyBox">
                <div ng-hide="post.viewFull" class="oneline oneline9">
                    <span ng-click="post.viewFull = true">{{::post.oneline}}</span>
                    <span class="author">&nbsp;:&nbsp;</span>
                    <span class="user">{{::post.author}}</span>
                </div>

                <div class="replyPost" ng-show="post.viewFull">
                    <div class="postnumber"><a href="" title="Permalink"></a></div>
                    <div class="reply">
                        <a title="reply to this comment" href="">Reply</a>
                    </div>
                    <div class="postBody">
                        <span class="author">By: </span>
                        <span class="user">{{::post.author}}</span>
                        <div ng-bind-html="::post.body"></div>
                    </div>

                    <a href="" title="Collapse/Close" class="closepost" ng-click="post.viewFull = false">x</a>
                    <div class="postdate">{{::post.date | date : 'MMM d, yyyy h:mma CST' }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="bundle.js"></script>
</body>
</html>