<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SPA Chatty</title>

    <link href="bundle.css" rel="stylesheet">
</head>
<body ng-app="chatty" ng-controller="chattyCtrl" ng-cloak class="ng-cloak">

<div class="navbar">
    <div class="navbar-right">
        <input type="search" class="navbar-filter" placeholder="Filter"
               ng-model="filterExpression" ng-model-options="{ debounce: 250 }">
    </div>
</div>

<div class="threads">
    <div ng-repeat="thread in threads" ng-hide="filterSet && !thread.visible">
        <div class="rootPost" ng-class="{ collapsed: thread.collapsed }">
            <div class="postnumber"><a href="" title="Permalink"></a></div>
            <div class="reply" ng-if="!thread.collapsed">
                <a title="reply to this comment" href="">Reply</a>
            </div>
            <div class="postBody">
                <span class="author">By: </span>
                <span class="user">{{::thread.rootPost.author}}</span>
                <div ng-bind-html="::thread.rootPost.body" ng-if="!thread.collapsed"></div>
                <div ng-if="thread.collapsed">{{::thread.rootPost.oneline}}</div>
            </div>

            <a ng-if="!thread.collapsed" href="" title="Collapse/Close" class="closepost" ng-click="thread.collapsed = true">x</a>
            <a ng-if="thread.collapsed" href="" title="Show Full Post" class="showpost" ng-click="thread.collapsed = false">Show Full Post</a>
            <div class="postdate">{{::thread.rootPost.date | date : 'MMM d, yyyy h:mma CST' }}</div>
        </div>

        <div class="treeview">
            <comments posts="thread.posts" author="thread.rootPost.author" ng-hide="thread.collapsed"></comments>
        </div>
    </div>
</div>

<script src="bundle.js"></script>
</body>
</html>