body {
    font: 12px/1.5 arial, helvetica, clean, sans-serif;
    padding-bottom: 50px;
    word-wrap: break-word;
    background-color: #000;
    padding-left: 20px;
}

.replyText {
    color: lightgray;
    margin: 0 0 0 20px;
}

.rootPost {
    background-color: #202224;
    padding: 3px 0 25px 0;
    border: 0 solid #656565;
    border-top-width: 1px;
}

.postBody {
    color: lightgray;
    margin: 0 5px 0 22px;
}

/* post author stuff */
.author {
    font-size: 11px;
    color: #666;
}
.user {
    font-size: 14px;
    font-weight: bold;
    color: #f3e7b5;
    font-family: sans-serif;
}

/* links within a body */
div.postBody a:link, div.postBody a:visited, div.postBody a:active, div.postBody a:hover {
    text-decoration: underline;
    color: #aeae9b;
}
div.postBody a:hover {
    color: #fff;
}

/* shacktags */
.jt_red          { color: #f00; }
.jt_green        { color: #8dc63f; }
.jt_pink         { color: #f49ac1; }
.jt_olive        { color: olive; }
.jt_fuchsia      { color: #c0ffc0; }
.jt_yellow       { color: #ffde00; }
.jt_blue         { color: #44aedf; }
.jt_lime         { color: #c0ffc0; }
.jt_orange       { color: #f7941c; }
.jt_italic       { font-style: italic; }
.jt_bold         { font-weight: bold; }
.jt_underline    { text-decoration: underline; }
.jt_strike       { text-decoration: line-through; }
.jt_sample       { font-size: 80%; line-height: 10px; }
.jt_quote        { font-family: serif; font-size: 110%; }
.jt_spoiler      { cursor: help; color: #383838; background-color: #383838; }
.jt_spoiler_show { color: #f00; }
.jt_codesmall    { font-family: monospace; }
.jt_code         { display: block; font-family: monospace; border-left: 1px solid #666; padding: 3px 0 3px 10px; margin: 5px 0 5px 10px; }