body {
    font: 12px/1.5 arial, helvetica, clean, sans-serif;
    padding-bottom: 50px;
    word-wrap: break-word;
    background-color: #000;
    padding-left: 20px;
}

.replyBox {
    margin: 0 0 0 20px;
}
.replyText {
    color: lightgray;
    max-width: 50%;
    overflow: hidden;
}

.rootPost {
    background-color: #202224;
    padding: 3px 0 25px 0;
    border: 0 solid #656565;
    border-top-width: 1px;
    margin: 25px 0 3px 8px;
    position: relative;
}

.postBody {
    color: lightgray;
    margin: 0 5px 0 22px;
}

/* post author stuff */
.author {
    font-size: 11px;
    color: #666;
}
.user {
    font-size: 14px;
    font-weight: bold;
    color: #f3e7b5;
    font-family: sans-serif;
}

div.reply {
    position: absolute;
    right: -1px;
    top: -1px;
    width: 66px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}
div.reply a:link, div.reply a:visited, div.reply a:active, div.reply a:hover {
    background-image: -moz-linear-gradient(top, #37174e, #050A10);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #37174e),color-stop(1, #050A10));
    background-image: -webkit-linear-gradient(#37174e, #050A10);
    background-image: linear-gradient(top, #37174e, #050A10);
    border: 1px solid #56267a;
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: bold;
    text-align: center;
    padding:  2px 1px;
}
div.reply a:hover {
    background-color: #b34fff;
    text-decoration: none;
    text-shadow: 0 0 5px #fff;
    background-image: -moz-linear-gradient(top, #37174e, #b34fff);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #37174e),color-stop(1, #b34fff));
    background-image: -webkit-linear-gradient(#37174e, #b34fff);
    background-image: linear-gradient(top, #37174e, #b34fff);
    border-color:  #b34fff
}

/* links within a body */
div.postBody a:link, div.postBody a:visited, div.postBody a:active, div.postBody a:hover {
    text-decoration: underline;
    color: #aeae9b;
}
div.postBody a:hover {
    color: #fff;
}

div.postdate {
    text-align: right;
    font-size: 10px;
    color: #666;
    width: 200px;
    right: 0;
    position: absolute;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
}

a.closepost:link, a.closepost:visited, a.closepost:active, a.closepost:hover {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    bottom: 0;
    left: 0;
    color: #8e8e8e;
    text-decoration: none;
    font-size: 10px;
    z-index: 1;
}
a.closepost:hover {
    color: #fff;
}

.postnumber {
    width: 19px;
    height: 16px;
    overflow: hidden;
    float: left;
    margin: 1px 3px 0 0;
}
.postnumber a:link, .postnumber a:visited, .postnumber a:active, .postnumber a:hover {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -5000px;
    overflow: hidden;
    background-image: url('images/sprite-commentslink.gif');
    margin-left: 3px;
}
.postnumber a:hover {
    background-position: -50px top;
}

/* shacktags */
.jt_red          { color: #f00; }
.jt_green        { color: #8dc63f; }
.jt_pink         { color: #f49ac1; }
.jt_olive        { color: olive; }
.jt_fuchsia      { color: #c0ffc0; }
.jt_yellow       { color: #ffde00; }
.jt_blue         { color: #44aedf; }
.jt_lime         { color: #c0ffc0; }
.jt_orange       { color: #f7941c; }
.jt_italic       { font-style: italic; }
.jt_bold         { font-weight: bold; }
.jt_underline    { text-decoration: underline; }
.jt_strike       { text-decoration: line-through; }
.jt_sample       { font-size: 80%; line-height: 10px; }
.jt_quote        { font-family: serif; font-size: 110%; }
.jt_spoiler      { cursor: help; color: #383838; background-color: #383838; }
.jt_spoiler_show { color: #f00; }
.jt_codesmall    { font-family: monospace; }
.jt_code         { display: block; font-family: monospace; border-left: 1px solid #666; padding: 3px 0 3px 10px; margin: 5px 0 5px 10px; }