<div>
    <div class="navbar">
        <ul class="navbar-tabs">
            <!-- Reflow Thread Button -->
            <li title="Reflow thread order" (click)="reflowThreads()">
                <i class="actionItem fa fa-history"></i>
                <span class="navbarNewThreads" *ngIf="newThreads?.length"
                      title="New threads">+{{newThreads.length}}</span>
            </li>

            <!-- Chatty Tabs -->
            <template ngFor #tab [ngForOf]="tabs">
                <li *ngIf="!tab.loginRequired || isLoggedIn()"
                    (click)="selectTab(tab)" (contextmenu)="removeTab($event, tab)"
                    [ngClass]="{ navbarTabSelected: tab.selected }">
                    <span [innerHTML]="tab.displayText" class="hoverable"></span>
                <span class="navbarNewThreads" *ngIf="tab.newPostCount"
                      title="{{tab.newPostText}}">+{{tab.newPostCount}}</span>
                </li>
            </template>
        </ul>

        <div class="navbar-right">
            <!-- Post Queue -->
            <form class="navbar-form" *ngIf="postQueue.length">
                <input type="button" value="Clear Post Queue ({{postQueue.length}})"
                       class="button" (click)="clearPostQueue()">
            </form>

            <!-- Shack Message Count -->
            <form class="navbar-form" *ngIf="isLoggedIn()">
                <input type="button" value="Inbox ({{getUnreadMessageCount()}}/{{getTotalMessageCount()}})"
                       class="button" (click)="goToInbox()">
            </form>

            <!-- New Thread Button -->
            <form class="navbar-form" *ngIf="isLoggedIn()">
                <input type="button" value="New Thread" class="button" (click)="newThread()">
            </form>

            <!-- Login Form -->
            <form class="navbar-form" (ngSubmit)="doLogin()" *ngIf="!isLoggedIn() || embedded">
                <input type="text" class="navbar-textinput" disable-hotkeys
                       placeholder="Username" [(ngModel)]="username" [disabled]="loginRunning" required>

                <input type="password" class="navbar-textinput" placeholder="Password" disable-hotkeys
                       [(ngModel)]="password" [disabled]="loginRunning" required>
                <input type="submit" value="Login" class="button" [disabled]="loginRunning">
            </form>

            <!-- Logout Form -->
            <div class="navbar-form" *ngIf="isLoggedIn() && !embedded">
                <input type="button" value="Logout: {{username}}" class="button" (click)="doLogout()">
            </div>

            <!-- Filter Form -->
            <form class="navbar-form" (ngSubmit)="addFilterTab()">
                <input type="text" class="navbar-textinput" placeholder="Filter" disable-hotkeys
                       [(ngModel)]="filterExpression" (keyup)="filterChangedDebounce()">
            </form>
        </div>

        <div class="newThreadContainer" *ngIf="newThreadPost.replying">
            <replybox replyclass="replybox-op" [post]="newThreadPost"></replybox>
        </div>
    </div>
</div>
