.navbar {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 40px;
    background: #333;
    width: 100%;
    position: fixed !important;
    top: 0 !important;
    left: 0;
    z-index: 99999;
}

.navbar-tabs {
    margin-left: -30px;
    position: relative;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    color: #e8e8e8;
    border-bottom: none;
    text-shadow: 0 1px 1px black;
    line-height: 21px;

    li {
        display: inline-block;
        padding: 0 5px 0 5px;
        border-right: 1px solid black;
        cursor: pointer;

        &:last-child {
            border-right: 0;
        }
    }

    .hoverable:hover {
        text-decoration: underline;
    }
}

.navbarTabSelected {
    color: #00bff3;
}

.navbar-right {
    float: right;
    margin-right: 10px;
    padding: 8px 0 0 7px;
}

.navbar-form {
    display: inline;
    padding-right: 5px;
}

.navbar-textinput {
    border: 1px solid black;
    color: white;
    background-color: #555;
    padding: 5px 5px 5px 5px;
    box-sizing: content-box;
}

.navbar-textinput-invalid {
    border: 1px solid red;
}

.newThreadContainer {
    position: fixed;
    top: 44px;
    width: 80%;
}

.navbarNewThreads {
    color: springgreen;
}
