<div>
    <div class="navbar">
        <ul class="navbar-tabs">
            <li title="Reflow thread order" ng-click="reflowThreads()">
                <i class="actionItem fa fa-history"></i>
                <span class="navbarNewThreads" ng-if="newThreads.length">+{{newThreads.length}}</span>
            </li>
            <li ng-click="selectTab(defaultTabs[0])" class="hoverable"
                ng-class="{ navbarTabSelected:defaultTabs[0].selected }">Chatty</li>
            <li ng-click="selectTab(defaultTabs[1])" class="hoverable"
            ng-class="{ navbarTabSelected:defaultTabs[1].selected }">Frontpage</li>
            <li ng-click="selectTab(defaultTabs[2])" class="hoverable"
            ng-class="{ navbarTabSelected:defaultTabs[2].selected }" ng-if="loggedIn">Mine</li>
            <li ng-repeat="tab in tabs" ng-click="selectTab(tab)"
                ng-right-click="removeTab(tab)" ng-class="{ navbarTabSelected:tab.selected }"
                ng-bind="::tab.displayText"></li>
        </ul>

        <div class="navbar-right">
            <form class="navbar-form" ng-if="loggedIn">
                <input type="button" value="New Thread" class="button" ng-click="newThread()">
            </form>

            <form class="navbar-form" ng-submit="doLogin()" ng-hide="loggedIn || embedded">
                <input type="text" class="navbar-textinput"
                       placeholder="Username" ng-model="username" ng-disabled="loginRunning" required>
                <input type="password" class="navbar-textinput" ng-class="{ 'navbar-textinput-invalid': loginInvalid }"
                       placeholder="Password" ng-model="password" ng-disabled="loginRunning" required>
                <input type="submit" value="Login" class="button" ng-disabled="loginRunning">
            </form>
            <div class="navbar-form" ng-show="loggedIn && !embedded">
                <input type="button" value="Logout: {{username}}" class="button" ng-click="doLogout()">
            </div>

            <form class="navbar-form" ng-submit="selectTab(addTab(filterExpression, filterExpression))">
                <input type="text" class="navbar-textinput" placeholder="Filter"
                       ng-model="filterExpression" ng-model-options="{ debounce: 250 }">
            </form>
        </div>

        <div class="newThreadContainer" ng-if="newThreadPost.replying">
            <replybox class="replybox-op" post="newThreadPost"></replybox>
        </div>
    </div>
</div>