<div>
    <div class="postnumber"><a title="Save post to tab" href="" ng-click="addTab({ id: post.id }, 'post')"></a></div>
    <input type="button" class="replyButton button" title="reply to this comment" value="Reply" ng-click="openReplyBox(post)">
    <div class="postdate">{{::post.date | date : 'MMM d, yyyy h:mma' }}</div>
    <progress class="expireTimer" value="{{::post.expirePercent}}" max="100" ng-if="::post.expirePercent"></progress>
    <span ng-class="::post.userClass || 'user'" ng-click="addTab(post.author, post.author)" ng-bind="::post.author"></span>
    <div class="tags">
        <span ng-repeat="tag in ::post.lols" class="tag" ng-class="::['tag_' + tag.tag]">
            <span ng-bind="::tag.tag"></span>
            <span ng-bind="tag.count"></span>
        </span>
    </div>
</div>