<navbar></navbar>
<toast></toast>
<div id="pane-sidebar">
    <div *ngFor="let post of threads" id="pane-leftnav">
        <div class="rootPost splitPost" *ngIf="post.visible && !post.filtered"
             [ngClass]="post.tagClass" (click)="selectPost(post)">
            <post [post]="post"></post>
        </div>
    </div>
</div>

<div id="pane-content">
    <div id="pane-rightnav">
        <thread *ngIf="selectedPost" [post]="selectedPost.post" [alwaysExpanded]="true"></thread>
    </div>
</div>
