.threadCapHeader {
    color: #e9e9de;
    background-color: #181818;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    height: 19px !important;
    line-height: 17px;
    margin: 0 1px -3px 1px;
    text-align: left;
    position: relative;
    top: -1px;
    border-top: 1px solid #575757;
    border-bottom: 1px dotted #fff;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: #fff;
        background-color: #222;
    }

    strong {
        color: #00bff3;
        font-size: 14px;
    }
}

.threadCapText {
    padding-left: 7px;
}
